
.loginContainer {
    position: relative;
}

.switchSection {
    display: flex;
    position: absolute;
    right: 100px;
    top: 50px;
}

.SwitchMsg {
    color: #D8D8D8;
    font-family: 'Open Sans', sans-serif;
    margin-right: 30px;
}

.switchBtn {
    width: 180px;
}

.loginForm {
    position: absolute;
    left: 600px;
    top: 150px;
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.loginInput {
    margin-top: 30px;
}

.loginForgotMsg {
    position: absolute;
    right: 5px;
    bottom: 40px;
    color: #3A8DFF;
}

.loginBtn {
    height: 50px;
    align-self: center;
    top: 50px;
    width: 200px;
    font-size: 1.2rem;
    box-shadow: 2px 2px #d8d8d8
}

.link {
    text-decoration: none;
    color: #3A8DFF
}

@media (max-width: 720px) {

    .loginForm {
        left: 0px;
        width: 240px;
        display: flex;
        align-items: center;
        transform: translate(25%, 25%)
    }
}