.loginContainer {
    position: relative;
}

.switchSection {
    display: flex;
    position: absolute;
    right: 100px;
    top: 50px;
}

.SwitchMsg {
    color: #D8D8D8;
    margin-right: 30px;
}

/* .switchBtn {
    width: 180px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 3px 2px 3px #D8D8D8;
    color: #3A8DFF;
    text-transform: capitalize;
    font-size: 1rem;
} */

.signupForm {
    position: absolute;
    left: 600px;
    top: 150px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.signupInput {
    margin-top: 30px;
}

.signupForgotMsg {
    position: absolute;
    right: 5px;
    bottom: 30px;
    color: #3A8DFF;
}

.createBtn {
    height: 50px;
    align-self: center;
    top: 50px;
    width: 200px;
    font-size: 1.2em;
    box-shadow: 2px 2px #d8d8d8;
}

.link {
    text-decoration: none;
    color: #3A8DFF
}

@media (max-width: 720px) {
    .signupForm {
        left: 0px;
        width: 240px;
        display: flex;
        align-items: center;
        transform: translate(25%, 25%)
    }
}