@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.backgroundContainer {
    display: flex;
    height: 100vh;
    background-color: #3A8DFF;
    width: 425px;
    top: 0;
    left: 0;
    position: absolute;
}

.backgroundImg {
    opacity: 0.5;
    position: absolute;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.backgroundText {
    z-index: 2;
    position: absolute;
    transform: translate(25%, 300%);
    text-align: center;
    width: 300px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.fa-comment-dots {
    position: absolute;
    left: 25%;
    top: 25%;
    transform: translate(50%, 0%)
}

@media (max-width: 720px) {
    .backgroundContainer {
        visibility: hidden;
    }
}